<!-- Featured Starts Here -->
<section class="our-featured {{ section.settings.custom_css }} py-60">
  <div class="container-home">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-block">
          {% if section.settings.title != blank %}<h1>{{section.settings.title}}</h1>{%endif%}
          {% if section.settings.heading-normal != blank and section.settings.heading-bold != blank %}
          <h1><span class="font-italic font-light">{{ section.settings.heading-normal }}</span> {{section.settings.heading-bold}}</h1>
          {%endif%}
          {% if section.settings.subheading-normal != blank and section.settings.subheading-bold1 != blank%}
          <h2> {{section.settings.subheading-bold1}} <span class="font-light font-italic">{{section.settings.subheading-normal}} </span></h2>
          {%endif%}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="our-featured__content-block text-wrapper">
          {{ section.settings.content }}
          {%if section.settings.content-txt != blank %}
            <p class="copy-md">
              <a href="{{section.settings.content-url}}" class="text-primary text-uppercase"> 
                {{section.settings.content-txt}}
                <span class="icon-wrap">
                  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                       height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                       preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                       fill="#e51a22" stroke="none">
                      <path d="M1400 5098 c-44 -17 -77 -44 -171 -137 -144 -143 -163 -177 -164
                               -286 0 -58 5 -91 19 -120 13 -27 333 -355 995 -1018 l976 -977 -977 -978
                               c-760 -760 -982 -987 -997 -1022 -14 -30 -21 -67 -21 -110 0 -103 29 -153 168
                               -291 98 -97 127 -119 175 -137 73 -28 131 -28 204 -1 56 20 108 71 1230 1193
                               1297 1296 1223 1214 1223 1346 0 132 74 50 -1223 1346 -1123 1123 -1174 1173
                               -1230 1193 -72 26 -136 26 -207 -1z" />
                    </g>
                  </svg>
                </span>
              </a>
            </p>
          {%endif%}
        </div>
      </div>
    </div>
    <div class="row our-featured__showcase-row">
      <div class="col-12">
        <div class="image-wrapper">
          <div class="w-100">
            {% if section.settings.main-img-desktop %}<img src="{{ section.settings.main-img-desktop | img_url:'master' }}" alt="" class="d-none d-lg-block w-100">{% endif %}
            {% if section.settings.main-img-mobile  %}<img src="{{ section.settings.main-img-mobile | img_url:'master' }}" alt="" class="d-lg-none image-fill">{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Ends Here -->

<!-- Featured Starts Here -->
<!-- <section class="our-featured our-featured__position py-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title-block">
          <h1>VINYLIZERS</h1>
          <h2><span class="font-light font-italic">AROUND</span> THE WORLD</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="our-featured__content-block text-wrapper">
          <p>
            This is our wall of frame because many stars have worn
            handmade vinylize glasses since the beginning around
            the world.
            Actors, musicians like Robbie Williams, Elton John,
            Marky Ramone ...and many more.
          </p>
          <p class="copy-md">
            <a href="#" class="text-primary text-uppercase"> Go Deeper
              <span class="icon-wrap">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                     height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                     preserveAspectRatio="xMidYMid meet">

                  <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                     fill="#e51a22" stroke="none">
                    <path d="M1400 5098 c-44 -17 -77 -44 -171 -137 -144 -143 -163 -177 -164
                             -286 0 -58 5 -91 19 -120 13 -27 333 -355 995 -1018 l976 -977 -977 -978
                             c-760 -760 -982 -987 -997 -1022 -14 -30 -21 -67 -21 -110 0 -103 29 -153 168
                             -291 98 -97 127 -119 175 -137 73 -28 131 -28 204 -1 56 20 108 71 1230 1193
                             1297 1296 1223 1214 1223 1346 0 132 74 50 -1223 1346 -1123 1123 -1174 1173
                             -1230 1193 -72 26 -136 26 -207 -1z" />
                  </g>
                </svg>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="row our-featured__showcase-row">
      <div class="col-12">
        <div class="image-wrapper">
          <div class="image-ratio image-ratio--16-9">
            <img src="https://cdn.shopify.com/s/files/1/0690/0531/files/vinylizers-showcase.jpg?v=1654211499" alt="" class="d-none d-lg-block">
            <img src="https://cdn.shopify.com/s/files/1/0690/0531/files/vinylizers-showcase--mobile.jpg?v=1654211499" alt="" class="d-lg-none">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Featured Ends Here -->


{% schema %}
  {
    "name": "Bottom Image with Text 2",
    "settings": [
					{
						"type":"text",
						"id":"title",
						"label":"Title"
					},
					{
						"type":"text",
						"id":"heading-normal",
						"label":"Normal Heading"
					},
					{
						"type":"text",
						"id":"heading-bold",
						"label":"Bold Heading"
					},
					{
						"type":"text",
						"id":"subheading-normal",
						"label":"Bold Subheading"
					},
					{
						"type":"text",
						"id":"subheading-bold1",
						"label":"Normal Subheading"
					},
					{
						"type":"richtext",
						"id":"content",
						"label":"Paragraph"
					},
					{
						"type":"url",
						"id":"content-url",
						"label":"Read More Link"
					},
					{
						"type":"text",
						"id":"content-txt",
						"label":"Read More Text"
					},
					{
						"type":"image_picker",
						"id":"main-img-desktop",
						"label":"Select Desktop Image"	
					},
					{
						"type":"image_picker",
						"id":"main-img-mobile",
						"label":"Select Mobile Image"	
					},
					{
						"type":"text",
						"id":"custom_css",
						"label":"Custom CSS Class"	
					}
				],
    		"presets":[{
				 "name":"Bottom Image with Text 2"
               }
              ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
